<a href="https://colab.research.google.com/github/GuGodoi7/Futebol_PySpark/blob/main/PySpark_futebol.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Install PySpark

In [ ]:
from pyspark.sql import SparkSession

from pyspark.sql.functions import *

from pyspark.sql.types import *

Criar / iniciar sessão PySpark

In [ ]:
spark = (
    SparkSession.builder
    .master('local')
    .appName('PySpark_futebol')
    .getOrCreate()
)

Criar data frame (df) / ler arquivo

In [ ]:
df = spark.read.csv('wc2018-players.csv', header=True, inferSchema=True)

mostar data frame

In [ ]:
df.show(5)

+---------+---+----+------------------+----------+----------+--------------------+------+------+
|     Team|  #|Pos.| FIFA Popular Name|Birth Date|Shirt Name|                Club|Height|Weight|
+---------+---+----+------------------+----------+----------+--------------------+------+------+
|Argentina|  3|  DF|TAGLIAFICO Nicolas|31.08.1992|TAGLIAFICO|      AFC Ajax (NED)|   169|    65|
|Argentina| 22|  MF|    PAVON Cristian|21.01.1996|     PAVÓN|CA Boca Juniors (...|   169|    65|
|Argentina| 15|  MF|    LANZINI Manuel|15.02.1993|   LANZINI|West Ham United F...|   167|    66|
|Argentina| 18|  DF|    SALVIO Eduardo|13.07.1990|    SALVIO|    SL Benfica (POR)|   167|    69|
|Argentina| 10|  FW|      MESSI Lionel|24.06.1987|     MESSI|  FC Barcelona (ESP)|   170|    72|
+---------+---+----+------------------+----------+----------+--------------------+------+------+
only showing top 5 rows

ver o tipo do campo

In [ ]:
df.printSchema()

root
 |-- Team: string (nullable = true)
 |-- #: integer (nullable = true)
 |-- Pos.: string (nullable = true)
 |-- FIFA Popular Name: string (nullable = true)
 |-- Birth Date: string (nullable = true)
 |-- Shirt Name: string (nullable = true)
 |-- Club: string (nullable = true)
 |-- Height: integer (nullable = true)
 |-- Weight: integer (nullable = true)

Renomeando colunas (a Pos. ta dando errado na hr de verificar valores nulos por conta do '.')

In [ ]:
df = df.withColumnRenamed('Pos.', 'Pos')

ve se tem valores nulos

In [ ]:
for colunas in df.columns:
  print(colunas, df.filter(df[colunas].isNull()).count())

Team 0
# 0
Pos 0
FIFA Popular Name 0
Birth Date 0
Shirt Name 0
Club 0
Height 0
Weight 0

selecionar colunas

In [ ]:
df.select('team', 'FIFA Popular Name').show(5)

+---------+------------------+
|     team| FIFA Popular Name|
+---------+------------------+
|Argentina|TAGLIAFICO Nicolas|
|Argentina|    PAVON Cristian|
|Argentina|    LANZINI Manuel|
|Argentina|    SALVIO Eduardo|
|Argentina|      MESSI Lionel|
+---------+------------------+
only showing top 5 rows

In [ ]:
df.select(col('team'), col('Club')).show(5)

+---------+--------------------+
|     team|                Club|
+---------+--------------------+
|Argentina|      AFC Ajax (NED)|
|Argentina|CA Boca Juniors (...|
|Argentina|West Ham United F...|
|Argentina|    SL Benfica (POR)|
|Argentina|  FC Barcelona (ESP)|
+---------+--------------------+
only showing top 5 rows

selecunar colunas com ALIAS

In [ ]:
df.select(col('team').alias('Seleção'), col('Club').alias('Clube')).show(5)

+---------+--------------------+
|  Seleção|               Clube|
+---------+--------------------+
|Argentina|      AFC Ajax (NED)|
|Argentina|CA Boca Juniors (...|
|Argentina|West Ham United F...|
|Argentina|    SL Benfica (POR)|
|Argentina|  FC Barcelona (ESP)|
+---------+--------------------+
only showing top 5 rows

Organizar select

In [ ]:
df.select('FIFA Popular Name', 'Pos', 'Height', 'Weight').show(5)

+------------------+---+------+------+
| FIFA Popular Name|Pos|Height|Weight|
+------------------+---+------+------+
|TAGLIAFICO Nicolas| DF|   169|    65|
|    PAVON Cristian| MF|   169|    65|
|    LANZINI Manuel| MF|   167|    66|
|    SALVIO Eduardo| DF|   167|    69|
|      MESSI Lionel| FW|   170|    72|
+------------------+---+------+------+
only showing top 5 rows

filtrar df

In [ ]:
df.filter(df['team'] == 'Brazil').show(5)

+------+---+---+-----------------+----------+-----------+--------------------+------+------+
|  Team|  #|Pos|FIFA Popular Name|Birth Date| Shirt Name|                Club|Height|Weight|
+------+---+---+-----------------+----------+-----------+--------------------+------+------+
|Brazil| 18| MF|             FRED|05.03.1993|       FRED|FC Shakhtar Donet...|   169|    64|
|Brazil| 21| FW|           TAISON|13.01.1988|     TAISON|FC Shakhtar Donet...|   172|    64|
|Brazil| 17| MF|      FERNANDINHO|04.05.1985|FERNANDINHO|Manchester City F...|   179|    67|
|Brazil| 22| DF|           FAGNER|11.06.1989|     FAGNER|SC Corinthians (BRA)|   168|    67|
|Brazil| 10| FW|           NEYMAR|05.02.1992|  NEYMAR JR|Paris Saint-Germa...|   175|    68|
+------+---+---+-----------------+----------+-----------+--------------------+------+------+
only showing top 5 rows

filtrar df com duas condiçoes (
  &)

In [ ]:
df.show(5)

+---------+---+---+------------------+----------+----------+--------------------+------+------+
|     Team|  #|Pos| FIFA Popular Name|Birth Date|Shirt Name|                Club|Height|Weight|
+---------+---+---+------------------+----------+----------+--------------------+------+------+
|Argentina|  3| DF|TAGLIAFICO Nicolas|31.08.1992|TAGLIAFICO|      AFC Ajax (NED)|   169|    65|
|Argentina| 22| MF|    PAVON Cristian|21.01.1996|     PAVÓN|CA Boca Juniors (...|   169|    65|
|Argentina| 15| MF|    LANZINI Manuel|15.02.1993|   LANZINI|West Ham United F...|   167|    66|
|Argentina| 18| DF|    SALVIO Eduardo|13.07.1990|    SALVIO|    SL Benfica (POR)|   167|    69|
|Argentina| 10| FW|      MESSI Lionel|24.06.1987|     MESSI|  FC Barcelona (ESP)|   170|    72|
+---------+---+---+------------------+----------+----------+--------------------+------+------+
only showing top 5 rows

In [ ]:
df.filter((df['team'] == 'Brazil') & (df['Pos'] == 'GK')).show(5)

+------+---+---+-----------------+----------+----------+--------------------+------+------+
|  Team|  #|Pos|FIFA Popular Name|Birth Date|Shirt Name|                Club|Height|Weight|
+------+---+---+-----------------+----------+----------+--------------------+------+------+
|Brazil| 23| GK|          EDERSON|17.08.1993|   EDERSON|Manchester City F...|   188|    86|
|Brazil|  1| GK|          ALISSON|02.10.1992| A. BECKER|       AS Roma (ITA)|   193|    91|
|Brazil| 16| GK|           CASSIO|06.06.1987|    CASSIO|SC Corinthians (BRA)|   195|    92|
+------+---+---+-----------------+----------+----------+--------------------+------+------+

filtrar df com 2 condiçoes (or)

In [ ]:
df.filter((df['FIFA Popular Name'] == 'MESSI Lionel') | (df['FIFA Popular Name'] == 'NEYMAR')).show(5)

+---------+---+---+-----------------+----------+----------+--------------------+------+------+
|     Team|  #|Pos|FIFA Popular Name|Birth Date|Shirt Name|                Club|Height|Weight|
+---------+---+---+-----------------+----------+----------+--------------------+------+------+
|Argentina| 10| FW|     MESSI Lionel|24.06.1987|     MESSI|  FC Barcelona (ESP)|   170|    72|
|   Brazil| 10| FW|           NEYMAR|05.02.1992| NEYMAR JR|Paris Saint-Germa...|   175|    68|
+---------+---+---+-----------------+----------+----------+--------------------+------+------+

criar novas colunas (usando a função lit)

In [ ]:
df.withColumn('wordCup', lit('2018')).show(5)

+---------+---+---+------------------+----------+----------+--------------------+------+------+-------+
|     Team|  #|Pos| FIFA Popular Name|Birth Date|Shirt Name|                Club|Height|Weight|wordCup|
+---------+---+---+------------------+----------+----------+--------------------+------+------+-------+
|Argentina|  3| DF|TAGLIAFICO Nicolas|31.08.1992|TAGLIAFICO|      AFC Ajax (NED)|   169|    65|   2018|
|Argentina| 22| MF|    PAVON Cristian|21.01.1996|     PAVÓN|CA Boca Juniors (...|   169|    65|   2018|
|Argentina| 15| MF|    LANZINI Manuel|15.02.1993|   LANZINI|West Ham United F...|   167|    66|   2018|
|Argentina| 18| DF|    SALVIO Eduardo|13.07.1990|    SALVIO|    SL Benfica (POR)|   167|    69|   2018|
|Argentina| 10| FW|      MESSI Lionel|24.06.1987|     MESSI|  FC Barcelona (ESP)|   170|    72|   2018|
+---------+---+---+------------------+----------+----------+--------------------+------+------+-------+
only showing top 5 rows

In [ ]:
df = df.withColumn('sub', substring('team', 1,3))

criar coluna condicional (usando a f8unção substring)

In [ ]:
df.show(5)

+---------+---+---+------------------+----------+----------+--------------------+------+------+---+
|     Team|  #|Pos| FIFA Popular Name|Birth Date|Shirt Name|                Club|Height|Weight|sub|
+---------+---+---+------------------+----------+----------+--------------------+------+------+---+
|Argentina|  3| DF|TAGLIAFICO Nicolas|31.08.1992|TAGLIAFICO|      AFC Ajax (NED)|   169|    65|Arg|
|Argentina| 22| MF|    PAVON Cristian|21.01.1996|     PAVÓN|CA Boca Juniors (...|   169|    65|Arg|
|Argentina| 15| MF|    LANZINI Manuel|15.02.1993|   LANZINI|West Ham United F...|   167|    66|Arg|
|Argentina| 18| DF|    SALVIO Eduardo|13.07.1990|    SALVIO|    SL Benfica (POR)|   167|    69|Arg|
|Argentina| 10| FW|      MESSI Lionel|24.06.1987|     MESSI|  FC Barcelona (ESP)|   170|    72|Arg|
+---------+---+---+------------------+----------+----------+--------------------+------+------+---+
only showing top 5 rows

Alterar tipo da coluna

In [ ]:
#df = df.withColunm('Ano', col('ano').cast(intergerTyoe()))

Alterando tipo da data que ta String